In [2]:
#question 1
def common_elements(arr1, arr2, arr3):
    i, j, k = 0, 0, 0
    common = []

    while i < len(arr1) and j < len(arr2) and k < len(arr3):
        if arr1[i] == arr2[j] == arr3[k]:
            common.append(arr1[i])
            i += 1
            j += 1
            k += 1

        elif arr1[i] < arr2[j]:
            i += 1

        elif arr2[j] < arr3[k]:
            j += 1
            
        else:
            k += 1

    return common

# Example usage:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

result = common_elements(arr1, arr2, arr3)
print(result)

#TC - O(n)
#SC - O(1)

[1, 5]

In [3]:
#question 2
def find_disinct_elements(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    distinct_nums1 = list(set1 - set2)
    distinct_nums2 = list(set2 - set1)

    return [distinct_nums1, distinct_nums2]

# Example usage:
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

result = find_disinct_elements(nums1, nums2)
print(result)

#TC - O(m+n)
#SC - O(m+n)

[[1, 3], [4, 6]]

In [4]:
#question 3
def transpose(matrix):
    rows = len(matrix)
    cols = len(matrix[0])

    # Create a new matrix with swapped dimensions
    transposed = [[0 for _ in range(rows)] for _ in range(cols)]

    # Populate the transposed matrix
    for i in range(rows):
        for j in range(cols):
            transposed[j][i] = matrix[i][j]

    return transposed

# Example usage:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

result = transpose(matrix)
print(result)

#TC - O(m*n)
#SC - O(m+n)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [5]:
#question 4
def array_pair_sum(nums):
    nums.sort()  # Sort the array in ascending order
    n = len(nums) // 2
    max_sum = 0

    for i in range(n):
        max_sum += nums[2 * i]  # Add the minimum element of each pair

    return max_sum

# Example usage:
nums = [1, 4, 3, 2]

result = array_pair_sum(nums)
print(result)

#TC - O(nlogn)----sorting
#SC - O(1)

4

In [7]:
#question 5
def arrange_coins(n):
    i = 1  # Start with the first row
    while n >= i:
        n -= i
        i += 1

    return i - 1

# Example usage:
n = 5

result = arrange_coins(n)
print(result)

#TC - O(sqrt(n))  ------when n = 9, sqrt(n)=3 ie the loop runs for 3 iterations (1, 2, 3).here n=5 so sqrt(5) = 2 so output here is 2
#SC - O(1)

2

In [8]:
#question 6
def sorted_squares(nums):
    squared_nums = [num * num for num in nums]  # Square each number
    #squared_nums = [num**2 for num in nums]

    squared_nums.sort()  # Sort the squared numbers in non-decreasing order
    
    return squared_nums


# Example usage:
nums = [-4, -1, 0, 3, 10]

result = sorted_squares(nums)
print(result)

#TC - O(nlogn)----sorting
#SC - O(n)

[0, 1, 9, 16, 100]

In [12]:
#question 7
def max_count(m, n, ops):
    if not ops:
        return m * n  # No operations, return total count of elements in the matrix

    min_row = min(op[0] for op in ops)  # Find the minimum row value from operations
    min_col = min(op[1] for op in ops)  # Find the minimum column value from operations

    """
     for op in ops:
        m = min(m, op[0])
        n = min(n, op[1])
    """

    return min_row * min_col  # Return the count of maximum integers

# Example usage:
m = 3
n = 3
ops = [[2, 2], [3, 3]]

result = max_count(m, n, ops)
print(result)

#TC - O(n)---coz of max and min func
#SC - O(1)

4

In [15]:
#question 8
def shuffle(nums, n):
    result = []
    for i in range(n):
        result.append(nums[i])
        result.append(nums[i + n])
    return result

# Example usage:
nums = [2, 5, 1, 3, 4, 7]
n = 3

result = shuffle(nums, n)
print(result)

#TC - O(n)
#SC - O(n)

[2, 3, 5, 4, 1, 7]